.container {
    background-color: rgb(17, 17, 17);
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
}

.contact-img {
    height: 600px;
    object-fit: contain;
}

.routenplaner{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.routenplaner-wrap {
    text-align: center;
    width: 100%;
    margin-top: 150px;
}

.form{
    color: white;
    position: sticky;
}

.contact-left, .contact-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact-left {
    align-items: center;
    text-align: center;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 30%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

label {
    font-size: 20px;
}

.form-wrapper {
    padding: 20px;
    text-align: start;
}